body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#autumn-bar{
    border: 3px solid red;
    width: 100vw;
    height: 90px;
}

#autumn-post{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    border: 3px solid purple;
    background-color: black;
    width: 100px;
    height: 100px; 
}

#autumn-scroll-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    border: 3px solid blue;
    height: calc(100vh - 90px);
    width: 100vw;
}


.autumn-container{
    margin: 20px;
    width: 90vw;
    height: 80vh;
    border: 3px solid green;
    border-radius: 20px;
}