body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 0;
}

#autumn-bar{
    border: 3px solid red;
    width: 100vw;
    height: 80px;
}

#autumn-scroll-section{
    border: 3px solid blue;
    height: 80vh;
    width: 100vw;
}

#autumn-post{
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 3ps solid purple;
    width: 40px;
    height: 40px; 
}