body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#autumn-bar{
    display: flex;
    flex-direction: row;
    border: 3px solid red;
    width: 100vw;
    height: 100px;
}

#autumn-bar div{
    height: 100%;
}

#autumn-bar #left-bar,
#autumn-bar #right-bar{
    width: 200px;
    border: 3px solid gold;
}

#autumn-bar #middle-bar{
    width: calc(100vw - 200px - 200px);
    border: 3px solid black;
}

#autumn-post{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    border: 3px solid purple;
    background-color: black;
    width: 100px;
    height: 100px; 
}

#autumn-scroll-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    border: 3px solid blue;
    height: calc(100vh - 90px);
    width: 100vw;
}


.autumn-container{
    margin: 20px;
    width: 90vw;
    height: 80vh;
    border: 3px solid green;
    border-radius: 20px;
}

.autumn-blob{
    position: fixed;
    border-radius: 50%;
    background-color: orange;
    z-index: -100;
}