body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#autumn-bar{
    display: flex;
    flex-direction: row;
    border: 3px solid red;
    width: 100vw;
    height: 100px;
}

#autumn-bar div{
    height: 100%;
}

#autumn-bar #left-bar,
#autumn-bar #right-bar{
    width: 200px;
}

#autumn-bar #middle-bar{
    width: calc(100vw - 200px - 200px);
    border: 3px solid black;
}

#autumn-post{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    border: 3px solid purple;
    width: 100px;
    height: 100px; 
    cursor: pointer;
}

#autumn-scroll-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    border: 3px solid blue;
    height: calc(100vh - 90px);
    width: 100vw;
}


.autumn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 70vw;
    height: 80vh;
    border: 3px solid green;
    border-radius: 20px;
    padding: 20px;
}

.top,
.bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.photo{
    width: 720px;
    height: 1280px;
    border-radius: 15px;
    border: 3px solid green;
}

.share-bar{
    margin-top: 20px;
    width: 800px;
    height: 120px;
    border: 3px solid blue;
}

.autumn-blob{
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orange;
    z-index: -100;
}